.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 26px;
  border-bottom: 2px solid #385170;
  color: white;
}

.right-side-header-links {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  align-items: center;
}

#title {
  text-decoration: none;
  font-size: 40px;
  color: #385170;
  font-weight: bold;
}

.header-container i {
  font-size: 40px;
  position: relative;
}

#basket-items {
  position: absolute;
  left: 90%;
  top: 1%;
  font-size: 14px;
  background-color: red;
  padding: 2px 8px;
  border-radius: 12px;
  color: white;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.switch .sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.switch .moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

input:checked + .slider {
  background-color: #183153;
}

input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.dark {
  background-color: #183153;
  color: white;
}

.dark #title {
  color: white;
}

#basket-icon{
  color: #183153;
}

.dark #basket-icon {
  color: white;
}