.checkout-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px 0;
}

.checkout-box{
    box-shadow: 0px 0px 10px -1px rgba(104, 102, 102, 0.75);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(104, 102, 102, 0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(104, 102, 102, 0.75);
    width: 950px;
    height: auto;
}

.checkout-container-header{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 20px 62px;
    font-size: 26px;
    border-bottom: 2px solid #3A4895;
    margin: 0 10px;
}


.right-side-checkout-container{
    display: flex;
    gap: 60px;
}

.checkout-product-item {
    display: flex;
    border-bottom: 2px solid #3A4895;
    margin: 0 10px;
}

.checkout-left-side, .checkout-right-side{
    display: flex;
    align-items: center;
}

.checkout-left-side{
    gap: 15px;
    width: 60%;
    padding: 5px 40px;
}

.checkout-left-side img{
   width: 150px;
   height: 200px;
}

.checkout-right-side{
    width: 40%;
    gap: 100px;
}

.checkout-product-item img{
    width: 110px;
    height: 110px;
    margin: 10px 0;
}

#quantity, #remove-icon{
    font-size: 25px;
}

.checkout-container-footer{
    display: flex;
    flex-direction: column;
    float: right;
    padding: 20px 0 60px 0;
    font-size: 20px;
    gap: 40px;
    margin-right: 60px;
}

.checkout-container-footer button{
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    background: #FFD814;
    text-align: center;
    border: none;
    cursor: pointer;
}

#no-items-added-message{
    font-size: 30px;
    color: #3A4895;
}

/* STYLING FOR THE MODAL */

.modal-container{
    height: 350px;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 50px;
    background-color: azure;
    padding: 90px 0 10px 0;
}

.modal-container p{
    font-size: 20px;
    color: gray;
    margin: 0 20px;
}

#modal-check-icon{
    position: absolute;
    font-size: 80px;
    color: green;
    top: -10px;
}

#return-btn{
    border: 2px solid green;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}

#return-btn:hover{
    background-color: green;
    color: white;
}
