.product-details-container{
    display: flex;
    justify-content: center;
    margin: 150px 300px;
    gap: 50px;
    box-shadow: 0px 0px 5px -1px rgba(190, 189, 189, 0.75);
    -webkit-box-shadow: 0px 0px 5px -1px rgba(190, 189, 189, 0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(190, 189, 189, 0.75);
}

.product-details-container img{
    width: 250px;
    height: 380px;
    padding: 40px 0;
}

.product-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 40px 0;
    gap: 28px;
}

#item-category, #item-title, #item-price, #item-description{
    font-size: 22px;
}

#item-long-description{
    font-size: 18px;
}

#add-to-cart-btn{
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
    background: #FFD814;
    text-align: center;
    width: 60%;
}