* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  background-color:azure;
}

/* CUSTOM SCROLL BAR */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 8px;
}

/* MEDIA QUERIES */

@media (max-width: 1024px){

  .products-container {
    grid-template-columns: repeat(3, 1fr);
}

.checkout-container{
  margin-right: 75px;
  margin-top: 40px;
}

.form-container{
  width: 500px;
}

.header-container{
  padding: 0 40px;
}

#basket-items{
  left: 93%;
}

.product-card{
  padding: 10px;
}

.header-container, .footer-container{
  width: 100%;
  border: none;
}

.product-details-container{
  margin: 150px;
}

.checkout-box{
  margin-left: 80px;
}

.contact-container{
  width: 100%;
}

.modal-container2{
  height: 150px;
}

.ring{
  left: 50%;
}
}

@media (max-width: 920px){
  .header-container, .footer-container{
    width: auto;
  }
}

@media (max-width: 769px){
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    width: auto;
}

.product-card{
  padding: 15px;
  margin: 10px;
}

#show-all-btn, #filter-btns{
  padding: 10px;
  font-size: 16px;
}

.product-card img {
  width: 225px;
  height: 225px;
}

#heart-btn{
  top: 6%;
  left: 65%;
  font-size: 16px;
}

.bottom-card-section{
  gap: 150px;
}

.form-container {
  width: 450px;
}

#basket-items {
  left: 91%;
}

.checkout-box{
  margin-left: 0;
}

.buttons-container {
  margin-left: 29px;
}

.product-details-container{
  margin: 100px 40px;
}

.product-details-container img{
  width: 200px;
  height: 400px;
}

.checkout-box{
  width: 700px;

}

.checkout-right-side{
  gap: 80px;
}

.checkout-left-side {
  width: 54%;
}

.checkout-container{
  min-height: 100vh;
}

.checkout-container-header p{
  font-size: 22px;
}

.checkout-container-header{
  padding: 20px;
}

.right-side-checkout-container{
  gap: 47px;
}
}

@media(max-width: 620px){
  .products-container {
    grid-template-columns: repeat(2, 1fr);
}

.product-card{
  margin: 0;
}

.bottom-card-section{
  gap: 30px;
}

#discover-more-btn{
  padding: 5px;
  font-size: 16px;
}

.product-card img{
  width: 180px;
  height: 200px;
}

.product-card h4{
  font-size: 14px;
}

#heart-btn {
  top: 6%;
  left: 66%;
  width: 40px;
  height: 40px;
}

#basket-items {
  left: 84%;
}

.contact-container h1 {
  margin-right: 20px;
  color: #3A4895;
  font-size: 30px;
}

.form-container{
  width: 80%;
}

#item-category, #item-title, #item-price, #item-description{
  font-size: 18px;
}

#submit-form-btn{
  font-size: 14px;
}

.form-container input, textarea{
  font-size: 16px;
}

.footer-container h2{
  font-size: 20px;
}

#contact-us-btn {
  font-size: 22px;
}

.header-container{
  border-bottom: 0;
}

.product-details-container{
  flex-direction: column;
  margin: 50px 20px;
  align-items: center;
  padding: 20px 0;
}

.product-details-container img{
  width: 200px;
  height: 200px;
  padding: 10px 0;
}

.product-info{
  padding: 0;
  gap: 15px;
}

#add-to-cart-btn {
  width: 100%;
  font-size: 16px;
}

.checkout-box {
  width: 400px;
}
.right-side-checkout-container {
  gap: 20px;
}

.checkout-container-header{
  padding: 10px;
}

.checkout-container-header p{
  font-size: 16px;
}

.checkout-left-side{
  flex-direction: column;
  padding: 0;
  width: 45%;
}

.checkout-right-side{
  gap: 55px;
  font-size: 12px;
  margin-left: 10px;
}

.checkout-container-footer{
  padding: 10px;
  gap: 20px;
  font-size: 16px;
}

.checkout-left-side h3{
  font-size: 16px;
}

#checkout-btn{
  font-size: 14px;
  padding: 10px;
}

.checkout-product-item img{
  width: 80px;
  height: 100px;
}

.modal-container {
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 30px;
  background-color: azure;
  padding: 60px 0 10px 0;
  font-size: 14px;
}

#return-btn{
  font-size: 16px;

}

#no-items-added-message{
  font-size: 20px;
}

#modal-check-icon{
  font-size: 60px;
}

.modal-container2{
  width: 280px;
  font-size: 16px;
}

#modal-check-icon2{
  font-size: 50px;
  gap: 20px;

}

.ring{
  top:55%;
  left:50%;
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 16px;
}

}

@media(max-width: 425px){
  .products-container {
    grid-template-columns: repeat(1, 1fr);
}

.footer-container{
  padding: 10px 20px;
}

#title{
  font-size: 30px;
}

#basket-icon{
  font-size: 30px;
}

.product-card {
  margin: 20px;
}

#show-all-btn, #filter-btns{
  font-size: 14px;
}

.product-details-container img{
    width: 150px;
    height: 200px;
}

.checkout-product-item{
  display: block;
  border: none;
}

.checkout-left-side{
  width: auto;
  padding-bottom: 25px;
}

.checkout-container-header{
  display: none;
}

.checkout-container-footer{
  display: block;
}

.form-container::placeholder, textarea {
  font-size: 12px;
}

.modal-container {
  width: 200px;
  gap: 20px;
  font-size: 14px;
}


#checkout-btn{
  margin-top: 20px;
}

.checkout-right-side{
  gap: 140px;
}

#quantity{
  display: none;
}

.checkout-box{
    width: auto;
    margin: 0 20px;
    padding: 20px 0;
}

.bottom-card-section{
  gap: 85px;
}

.footer-container h2{
  font-size: 16px;
}

#contact-us-btn{
  font-size: 16px;
}

#basket-items{
  top: 2%;
  left: 79.5%;
  font-size: 12px;
}

.modal-container2{
  height: 150px;
  width: 200px;
}

.modal-container2 h2{
  font-size: 18px;
}

}

